.operator-btn{
    width: 90px;
    border-radius: 12px;
    border-color: white;
    background-color: #333333;
    color: white;
    height: 30px;
    border: 3px solid;
    cursor: pointer;
    font-family: consolos,monospace;

}

#container{
    width: 450px;
    background-color: #222222;
    border-radius: 25px;
    text-align: center;
    border: 3px solid;
    

}

#display{
    font-family: consolos,monospace;
    font-size: 75px;
    color: #40c437;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}